.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #EFEFEF; */
    border: none;
    outline: none;
}
.close-btn{
    display: flex;
    justify-content: flex-end;
    color: var(--color-white);
    cursor: pointer;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.modal-content{
    background-color:var(--color-white);
    padding: 20px;
    border-radius: 8px;
    min-width: 352px;
    overflow-y: auto;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
.modal-content-heading {
    font-size: calc(0.8333333333vw + 16.6666666667px);
}
.content-input{
    max-width: 400px;
    width: 100%;
    height: 44px;
}

.modal-inner-container{
    max-width: 400px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.dropdown-input{
    max-width: 150px;
    height: 44px;
    
    outline: none;
}

.schedule-container{
    display: flex;
}
@media (min-width: 400px) {
    .modal-content-heading {
        font-size: calc(0.8333333333vw + 16.6666666667px);
    }
}